nav a {
    text-decoration: none;
    margin-left: 5%;
}
nav span{
    padding: 0.5em;
    font-size: 20px;
}
nav, footer {
    background-color: #ffdf87;
    border-radius: 0.5em;
    padding: 0.5em;
}
div[id=error-block]{
    margin: auto;
    width: 50%;
    background-color: red;
    border-radius: 1rem;
}
div[id=message-block]{
    margin: auto;
    width: 50%;
    background-color: darkseagreen;
    border-radius: 1rem;
}
body {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
form {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 15%;
    margin-right: 15%;
}
input[type="text"], select{
    width: 19rem;

}
button[type="submit"]{
    margin-top: 1em;
    margin-left: 40%;
    background-color: #ffdf87;
    border: none;
    cursor: pointer;
    font-size: 1em;

}
table{
    margin-left: 25%;
    border-spacing: 1em;
}

