<table>
    <tr>
        <th>Nimi</th>
        <th>Perekonnanimi</th>
        <th>Hinne</th>
    </tr>
    <tr tpl-foreach="$authorData as $author">
        <td><a href="?cmd=authoredit&id={{$author->id}}">{{$author->fname}}</a></td>
        <td>{{$author->lname}}</td>
        <td>{{$author->grade}}</td>
    </tr>
</table>