<form action="?cmd=authorpost&id={{$author->id}}" method="post">
    <label for="fname">Eesnimi:</label>
    <br>
    <input type="text" id="fname" name="firstName" value="{{$author->fname}}">
    <br><br>
    <label for="lname">Perekonnanimi:</label>
    <br>
    <input type="text" id="lname" name="lastName" value="{{$author->lname}}">
    <br><br>
    <label>Hinne:</label>
    <tpl tpl-foreach="[1, 2, 3, 4, 5] as $i">
        <input tpl-checked="$author->grade == $i" type="radio" name="grade" value="{{$i}}">{{$i}}
    </tpl>
    <input name="deleteButton" type="submit" value="Kustuta">
    <input name="submitButton" type="submit" value="Salvesta">
</form>