<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Muuda Raamat</title>
    <link href="../styles.css" type="text/css" rel="stylesheet">
</head>
<body id="{{$pageId}}">
<nav tpl-include="menu.html"></nav>
<div tpl-if="isset($error)" id="error-block">
    <tpl>{{$error}}</tpl>
</div>
<div tpl-if="isset($_GET['message'])" id="message-block">
    <tpl tpl-if="$_GET['message'] == 1">Uuendatud.</tpl>
    <tpl tpl-if="$_GET['message'] == 2">Kustutatud.</tpl>
    <tpl tpl-if="$_GET['message'] == 3">Lisatud.</tpl>
</div>
<main tpl-include="{{ $template }}">
</main>
<footer>
    <p>ICD0007 Harjutustunni leht</p>
</footer>
</body>
</html>