<table>
    <tr>
        <th>Pealkiri</th>
        <th>Autorid</th>
        <th>Hinne</th>
    </tr>
    <tr tpl-foreach="$bookAuthorData as $book">
        <td><a href="?cmd=bookedit&id={{$book->id}}">
            {{$book->title}}</a></td>
        <td>
            {{($book->author1 != null) ? $book->author1->fname . " " . $book->author1->lname : ""}}{{ ($book->author2 != null) ? ", " . $book->author2->fname . " " . $book->author2->lname : ""}}
        </td>
        <td>{{$book->grade}}</td>
    </tr>
</table>