<form action="?cmd=bookpost&id={{$book->id}}" method="post">
    <label for="title">Pealkiri:</label>

    <input type="text" id="title" name="title" value="{{$book->title}}"><br><br>

    <label for="author1">Autor 1:</label>
    <select name="author1" id="author1">
        <option></option>
        <tpl tpl-foreach="$authorData as $author">
            <option tpl-selected="$author->id == $book->author1->id" value="{{$author->id}}">{{$author->fname . " " . $author->lname}}</option>
        </tpl>
    </select>
    <br><br>

    <label for="author2">Autor 2:</label>
    <select name="author2" id="author2">
        <option></option>
        <tpl tpl-foreach="$authorData as $author">
            <option tpl-selected="$author->id == $book->author2->id" value="{{$author->id}}">{{$author->fname . " " . $author->lname}}</option>
        </tpl>
    </select>

    <label>Hinne:</label>

    <tpl tpl-foreach="[1, 2, 3, 4, 5] as $i">

        <input tpl-checked="$book->grade == $i" type="radio" name="grade" value="{{$i}}">{{$i}}

    </tpl>
    <br><br>

    <label for="isRead">Loetud:</label>

    <input id="isRead" name="isRead" type="checkbox" tpl-checked="$book->isRead == 1">

    <br><br>

    <input name="deleteButton" type="submit" value="Kustuta">
    <input name="submitButton" type="submit" value="Salvesta">
</form>