<a id="book-list-link" href="?cmd=booklist">Raamatud</a>
<span>|</span>
<a id="book-form-link" href="?cmd=bookedit">Lisa raamat</a>
<span>|</span>
<a id="author-list-link" href="?cmd=authorlist">Autorid</a>
<span>|</span>
<a id="author-form-link" href="?cmd=authoredit">Lisa autor</a>